:root {
    --bg-main: #f0efe9;
    --clr-white: #ffffff;
    --clr-grey: #f4f5f6;
    --clr-black: #7a7d89;
    --clr-green: #50e3a4;
    --clr-dark-green: #47c38e;

    --shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

ul[class] {
    list-style: none;
}
